canvas {
    display: block;
    margin: 0 auto;
}

#canvas-wrap { 
    position:relative 
} /* Make this a positioned parent */

#modal     { 
    position: absolute;
    top: 200px;
    z-index: 2;
    width:30%;
    max-width: 400px;
    min-width: 200px;
    height: 60px;
    overflow: hidden;
    background: grey;
    margin: 0 auto;
    left: 0;
    right: 0;
}
